body {
  margin: 0;
}

/* Fonts ------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.heading {
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: 900;
}

/* Colors ------------------------------------- */
.primary-color {
  color: #a3d9ff;
}

.primary-background {
  background-color: #a3d9ff;
}

.secondary-color {
  color: #96e6b3;
}

.third-color {
  color: #7e6b8f;
}

/* Navbar ------------------------------------- */
header {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
}

nav li {
  margin: 0 10px;
}

ul {
  padding: 0;
}

.list-nostyle {
  list-style-type: none;
}

.d-flex {
  display: flex;
}

#gallery {
  color: crimson;
}

.border-1 {
  border: 2px solid #333;
  padding: 10px;
}

#about {
  background-color: pink;
}

#contact {
  padding: 0;
  background: url('../images/contact-road.jpg') bottom/cover no-repeat;
}

.light-overlay {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
}
