/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

header {
  background-color: rgb(0, 78, 97);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 1rem;
}

#contact {
  background: url('../images/contact-road.jpg') bottom/cover no-repeat;
}

.light-overlay {
  background-color: rgba(255, 255, 255, 0.8);
}

.footer-spacer {
  min-height: 92vh;
}

#footer {
  background-color: rgb(0, 78, 97);
}

#footer * {
  color: white;
}

.primary-background {
  background-color: #5b7c94ff;
}

.secondary-color {
  background-color: #96e6b3;
}

/* #footer svg {
  padding: 0 10px;
} */
